extends layout
block content
  canvas(id="draw", resize="true")
  script(type="text/javascript", src="javascripts/draw.js")
  a(href='#' onclick='circleTump.activate();') Circle
  a(href='#' onclick='cloud.activate();') Cloud
//  script(type="text/javascript", src="javascripts/sound.js")
