doctype html
html
  head
    title= GrindHouse
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/paper.js")
    script(src="/javascripts/howler.js")

  body
    block content